
{% load static %}
{% block content %}
<head>
  <link href="{% static 'css/style.css' %}" rel="stylesheet" />

</head>
<body>

    <div>

      <nav class='nav' id="nav" style="z-index:200000 ;position: relative;top: 0;">
     
<!--         <a href='/' class='title'>[Joby]</a>
     -->
         {% if not request.user.is_applicant and not request.user.is_recruiter%}
         <ul class='head' id="head">
        <li>
          <a href='{% url "register_app" %}'>Register Applicant</a>
        </li>
        <li>
          <a href='{% url "register_rec" %}'>Register Recruiter</a>
        </li>
        </ul>
        <!-- <ul class='icons'>
          <li>
            <img src="{% static 'image/pngwing.png' %}"class="png" />
          </li>
          <li>
            <img src="{% static 'image/png2.png' %}" class="png" />
          </li>
          <li>
            <img src="{% static 'image/png3.png' %}" class="png" />
          </li>
        </ul> -->
        {% endif %} 
        
        {% if request.user.is_authenticated %}
        {% if request.user.is_applicant %}
      <ul class='head' id="head">
       
              <li>
                <a href='/'>Home</a>
              </li>
             
        {% if request.user.has_resume %}
              <li>
                <a href='{% url "job_listing" %}'>Apply To Job</a>
              </li>
              <li>
                <a href='{% url "applied_jobs" %}'>Applications</a>
              </li>
             {% else %} 
              <li>
                <a href='{% url "resume" %}'>Create Resume</a>
              </li>
              <li>
                <a href='{% url "job_listing" %}'>Apply To Job</a>
              </li>
  
           
    
              {% endif %}
             <li>
                <a href='{% url "login" %}'>Logout</a>
              </li>
            </ul>
        {% elif  request.user.is_recruiter %}
        <ul class='head' id="head">
         
          <li>
            <a href='/'>Home</a>
          </li>
          
            {% if request.user.has_company %}
            <li>
            <a href='{% url "create-job" %}'>Create Job Ads</a>
          </li>
          <li>
            <a href='{% url "manage_jobs" %}'>Manage Jobs </a>
          </li>
          {% else %}
          <li>
            <a href='{% url "company" %}'>Create Company</a>
          </li>
          {% endif %}
         
          <li>
            <a href='{% url "job_listing" %}'>All jobs</a>
          </li>
          <li>
            <a href='{% url "login" %}'>Logout</a>
          </li>
        </ul>
        
        
        
        <!-- <ul class='icons'>
            <li>
              <img src="{% static 'image/pngwing.png' %}"class="png" />
            </li>
            <li>
              <img src="{% static 'image/png2.png' %}" class="png" />
            </li>
            <li>
              <img src="{% static 'image/png3.png' %}" class="png" />
            </li>
          </ul> -->
          {% endif %}
          
          {% else %}
      <ul>
          <li>
            <a href='{% url "job_listing" %}'>All jobs</a>
          </li>
        </ul>
          {% endif %}
         
          <button class="navbar-toggler" type="button" data-toggle="collapse" onclick="toggleMenu()" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
            <span class=""> </span>
            <span class=""> </span>
  
          </button>
          <div class="menu-links">
            
         {% if not request.user.is_applicant and not request.user.is_recruiter%}
         <ul class='head1' id="head1">
        <li>
          <a href='{% url "register_app" %}'>Register Applicant</a>
        </li>
        <li>
          <a href='{% url "register_rec" %}'>Register Recruiter</a>
        </li>
        </ul>
        <!-- <ul class='icons'>
          <li>
            <img src="{% static 'image/pngwing.png' %}"class="png" />
          </li>
          <li>
            <img src="{% static 'image/png2.png' %}" class="png" />
          </li>
          <li>
            <img src="{% static 'image/png3.png' %}" class="png" />
          </li>
        </ul> -->
        {% endif %} 
        
        {% if request.user.is_authenticated %}
        {% if request.user.is_applicant %}
      <ul class='head1' id="head">
       
              <li>
                <a href='/'>Home</a>
              </li>
             
        {% if request.user.has_resume %}
              <li>
                <a href='{% url "job_listing" %}'>Apply To Job</a>
              </li>
              <li>
                <a href='{% url "applied_jobs" %}'>Applications</a>
              </li>
             {% else %} 
              <li>
                <a href='{% url "resume" %}'>Create Resume</a>
              </li>
              <li>
                <a href='{% url "job_listing" %}'>Apply To Job</a>
              </li>
  
           
    
              {% endif %}
             <li>
                <a href='{% url "login" %}'>Logout</a>
              </li>
            </ul>
        {% elif  request.user.is_recruiter %}
        <ul class='head1' id="head">
         
          <li>
            <a href='/'>Home</a>
          </li>
          
            {% if request.user.has_company %}
            <li>
            <a href='{% url "create-job" %}'>Create Job Ads</a>
          </li>
          <li>
            <a href='{% url "manage_jobs" %}'>Manage Jobs </a>
          </li>
          {% else %}
          <li>
            <a href='{% url "company" %}'>Create Company</a>
          </li>
          {% endif %}
         
          <li>
            <a href='{% url "job_listing" %}'>All jobs</a>
          </li>
          <li>
            <a href='{% url "login" %}'>Logout</a>
          </li>
        </ul>
        
        
        
        <!-- <ul class='icons'>
            <li>
              <img src="{% static 'image/pngwing.png' %}"class="png" />
            </li>
            <li>
              <img src="{% static 'image/png2.png' %}" class="png" />
            </li>
            <li>
              <img src="{% static 'image/png3.png' %}" class="png" />
            </li>
          </ul> -->
          {% endif %}
          
          {% else %}
      <ul>
          <li>
            <a href='{% url "job_listing" %}'>All jobs</a>
          </li>
        </ul>
          {% endif %}
         
         
      </nav>  
    
    
 
  <!-- <button id="btn-nav" class="fas fa-bars">=</button> -->

  
   </div>
   <script >
   let navbutton=document.querySelector('#btn-nav');
   let nav=document.querySelector('.head');


   navbutton.addEventListener('click',()=>{
   if (nav.style.display === "none") {
    nav.style.display = "block";
   } else {
    nav.style.display = "none";
   }
  
})

function toggleMenu() {
  const menu = document.querySelector(".menu-links");
  const icon = document.querySelector(".navbar-toggler");
  menu.classList.toggle("open");
  icon.classList.toggle("open");
}
   </script>
  
  </body>
   {% endblock content %}

