{% extends 'base.html' %}
{% load static %} 

{% block content %}
<form method="POST" class="form_company" action="" enctype="multipart/form-data">
  {% csrf_token %}

<div id="resume-info" style="margin-top:10px ;padding: 20px;">
  
  <h2>Create a resume :</h2>
  
  <div class="sss">
  <div class="form-field">
    <label style="display: block;">First name</label>
    {{form.first_name}}
  </div>
  <div class="form-field">
    <label style="display: block;">Last name</label>
        {{form.last_name}}
  </div> <div class="form-field">
<label style="display: block;">Job title</label>  
  {{form.job_title}}
  </div>
  <div class="form-field">
    <label style="display: block;">Location</label>
    {{form.location}}
  </div>
  <div class="form-field">
    <label style="display: block;">Upload Resume</label>
    {{form.upload_resume}}
  </div>
  
</div>

<button id="form-button" style="margin-top:10px ;" class="btn btn-success btn-block" type="submit" value="submit">submit</button>
</form>
</div>
</form>
{% for message in messages %}
<p id="messages" >{{message}}</p>
{% endfor %}
{% endblock content %}
